  body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  a:focus {
    outline: none;
  }
  html {
    position: relative;
    min-height: 100%;
  }
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

/* utility classes */

  .actual {
    border-bottom: 1px solid black;
  }
  .actualI {
    color: #00bbff!important;
  }
  .align-mid {
    vertical-align: bottom;
  }
  .background1 {
    background-color: rgba(147, 147, 147, 0.15);
  }
  .disabledLink {
    pointer-events: none;
    cursor: default;
  }
  .invisible {
    display: none;
  }
  .noBorder {
    border: none!important;
    margin: 10% 0% 0% 0%;
  }
  [ng-click*="goToTopic"]:hover {
    filter: grayscale(0.9);
  }

  /* margin stuff */
  .marginT1 {
    margin-top: 10px;
  }
  .marginT2 {
    margin-top: 20px;
  }
  .marginB1 {
    margin-bottom: 10px;
  }
  .margin-sm {
    margin: 2px;
  }
  .margin-md {
    margin: 5px;
  }
  .margin-lg {
    margin: 10px;
  }

  /* padding stuff */
  .col-padding-none {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .padding-sm {
    padding: 2px;
  }
  .padding-md {
    padding: 5px;
  }
  .padding-xlg {
    padding: 100px;
  }
  .paddingB1 {
    padding-bottom: 10px;
  }
  .paddingT1 {
    padding-top: 10px;
  }

  /* positioning */
  .left {
    position: absolute;
    left: 5%;
  }
  .right {
    position: absolute;
    right: 5%;
  }
  .right-lg {
    position: absolute;
    right: 5%;
  }

  /* rounded corners */
  .rounded-corners1 {
    border-radius: 10px;
  }
  .rounded-corners2 {
    border-radius: 5px;
  }
  .rounded-corners2i {
    border-radius: 5px!important;
  }
  .roundedLT {
    border-top-left-radius: 10px;
  }
  .roundedLB {
    border-bottom-left-radius: 10px;
  }
  .roundedRT {
    border-top-right-radius: 10px;
  }
  .roundedRB {
    border-bottom-right-radius: 10px;
  }

  .reverse {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .selected {
    background: rgba(150, 150, 150, 0.2);
  }
  .text-small {
    font-size: 0.9rem;
  }

/* other elements (first classes then ids)*/
  .artFillingBox {
    height: 350px;
  }
  .artFillingBox2 {
    height: 100px;
  }
  .back {
    border: solid gray 1px;
    /* background-color: #cce6ff; */
    border-radius: 4px;
  }
  .copyright {
    background-color: #e5e5e5;
  }
  .dropdown {
    cursor: pointer;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    background-color: #f5f5f5;
  }
  .fav {
    margin-bottom: 10px;
    cursor: cell;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .favB {
    z-index: -1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .favBI {
    font-size: 32px!important;
    margin-right: -4px;
    margin-top: -4px;
  }
  .fav-checked {
    color: yellow;
  }
  .front {
    border-radius: 4px;
    border: solid gray 1px;
  }
  .groupExpanded {
    background-color: aquamarine;
  }
  .indexCardSize {
    cursor: pointer;
    height: 50vh!important;
    padding: 30% 20% 40% 20%;
  }
  .navbar-brand {
  width: 10%;
  }
  .navIcon {
    font-size: 38px!important;
    color: #BFBFBF;
    cursor: pointer;
  }
  .question .card .card-body {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .scale:hover {
    transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
  }
  .settingsDropdown {
    display: none;
    width: 100%;
    padding: 5%;
    padding-bottom: 15%;
  }
  .testGame ul {
    padding: 0;
  }
  .testLink a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  [class*="toast"] {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
  .topicsMenu {
    max-height: 1000px;
  }
  .topicsScrollspySection {
    min-height: 500px;
    overflow-y: scroll;
    position: relative;
  }
  .topicToChoose {
    float: left!important;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
  }
  .word-line {
    padding: 0.2rem;
    font-size: 1.1rem;
  }
  .word-line [class*="col"] {
    padding: 2px 10px 1px 10px;
  }
  .word-line:hover {
    background-color: lightgrey;
  }
  /* #buttonToAddWord {
    margin-bottom: 6px;
  } */

@media only screen and (max-width: 575px) {
  #wordsList {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .artFillingBox {
    display: none;;
  }
  .indexCardScroll {
    padding: 20px 0 20px 0;
  }
  .roundedLT {
    border-top-left-radius: 0px;
  }
  .roundedLB {
    border-bottom-left-radius: 0px;
  }
  .roundedRT {
    border-top-right-radius: 0px;
  }
  .roundedRB {
    border-bottom-right-radius: 0px;
  }
  [class*="toast"] {
    right: auto;
    top: auto;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .right-lg {
    position: inherit;
  }
  .footer {
    z-index: 999;
    box-shadow: 0px 0px 2px 1px #BFBFBFBF;
  }
}
/*
@media only screen and (min-width: 991px) {
  #dictionary .container{
    padding: 0;
    max-width: none;
    width: 75%;
    margin-left: 22%;
  }
  #dictionary .leftPanel {
    width: 20%;
  }
} */
