<div ng-show="currentGroup" class="marginT1">

  <div class="setup testGame" ng-hide="game">
    <ul class="marginT1 row">

      <div class="d-none d-md-block col-12" style="padding: 0">
        <li class="list-group-item list-group-item-primary col-12 d-flex justify-content-between align-items-center">Choose the scope of topics: <span><button class="btn btn-secondary text-small" ng-click="chooseAllTopics()">Choose all</button> <button class="btn btn-secondary text-small" ng-click="unmarkAllTopics()">Unmark all</button></span></li>
      </div>

      <li class="list-group-item list-group-item-primary col-12 d-md-none">Choose the scope of topics: <br/><span><button class="btn btn-outline-secondary text-small" ng-click="chooseAllTopics()">Choose all</button> <button class="btn btn-outline-secondary text-small" ng-click="unmarkAllTopics()">Unmark all</button></span></li>

      <li class="col-12 col-md-4 col-lg-3 topicToChoose text-truncate" ng-repeat="topic in topics" ng-click="topic.inGame=!topic.inGame" ng-class="{'bg-info':topic.inGame}">{{topic.name}}</li>

    </ul>
    <div class="row marginT2">
        <div class="col-1 col-md-4 col-lg-5"></div>
        <button class="btn btn-primary col-10 col-md-4 col-lg-2" ng-click="startGame()">Start</button>
      </div>
  </div>

  <div class="game" ng-show="game">

    <div class="scoreboard">
      <div class="score">Points: <span class="text-success">{{points}}</span></div>
      <div class="misses">Mistakes: <span class="text-danger">{{misses}}</span></div>
      <div class="questions">Left: <span class="text-dark">{{howManyQuestions}}</span></div>
    </div>

    <div class="question marginT1 row">
      <div class="col-md-2 col-lg-3"></div>
      <div class="card col-12-col-md-8 col-lg-6">
        <div class="card-body">
          <h4>{{question}}</h4>
        </div>
      </div>
    </div>

    <div class="answers row marginT2">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" id="a0">
          <div class="card-body" ng-click="answerQuestion(answers[0], 'a0')">
            {{answers[0]}}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" id="a1">
          <div class="card-body" ng-click="answerQuestion(answers[1], 'a1')">
            {{answers[1]}}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" id="a2">
          <div class="card-body" ng-click="answerQuestion(answers[2], 'a2')">
            {{answers[2]}}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" id="a3">
          <div class="card-body" ng-click="answerQuestion(answers[3], 'a3')">
            {{answers[3]}}
          </div>
        </div>
      </div>
    </div>

    <div class="row marginT2" ng-show="goNext">
      <div class="col-1 col-md-4 col-lg-5"></div>
      <button class="btn btn-primary col-10 col-md-4 col-lg-2" ng-click="nextQ()">Next</button>
    </div>

  </div> <!-- eof game -->
</div> <!-- eof currentGroup -->

<div ng-hide="currentGroup" class="container-fluid marginT1">
  <div class="alert alert-warning" role="alert">
    Choose a group or make a new one to be able to use index cards and play quiz-games.
  </div>
</div>

<div ng-show="gameOver">
  <div class="question marginT1 row">
    <div class="col-md-2 col-lg-3"></div>
    <div class="card col-12-col-md-8 col-lg-6">
      <div class="card-body">
        <h4>The quiz is over!</h4>
        <h5>Your score is {{result}}%</h5>
        <div class="score">Correct answers: <span class="text-success">{{points}}</span></div>
        <div class="misses">Mistakes: <span class="text-danger">{{misses}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="artFillingBox2"></div>
