<div ng-show="currentGroup">

  <div class="row marginT1" ng-hide="indexCards">
    <div class="btn btn-light margin-md" ng-click="openIndexCards()">
      <i class="material-icons align-middle">note</i>
      <span class="text-muted"><b> Index Cards </b></span>
    </div>
    <a href="#/multipleChoiceTest" class="btn btn-light margin-md" ng-click="openIndexCards()">
      <i class="material-icons align-middle">check</i>
      <span class="text-muted"><b> Test </b></span>
    </a>
  </div>

    <div class="row" id="indexCardsScrollHeader">

      <div class="col-12 margin-md col-padding-none">

        <div class="row">
          <div class="col-12 col-md-7 col-lg-5 col-padding-none">
            <button ng-show="indexCards" ng-click="closeIndexCards()" class="btn btn-secondary margin-md"><i class="material-icons align-middle">undo</i></button>
            <button class="btn btn-light" data-toggle="collapse" data-target="#branchList">
              Filter by topic
            </button>
            <button class="btn btn-outline-info btn-sm margin-sm" id="alphaSortBtn" ng-click="sort('name')" data-toggle="tooltip" data-placement="top" title="Sort alphabetically"><i class="material-icons align-middle">sort_by_alpha</i><i class="material-icons align-middle" ng-show="sortBy === 'name'" ng-class="{reverse: reverse}"">arrow_drop_up</i></button>
            <button class="btn btn-outline-info btn-sm margin-sm" id="translateSortBtn" ng-click="sort('explaination')" data-toggle="tooltip" data-placement="top" title="Sort alphabetically by explainations"><i class="material-icons align-middle">translate</i><i class="material-icons align-middle" ng-show="sortBy === 'explaination'" ng-class="{reverse: reverse}"">arrow_drop_up</i></button>
            <button ng-show="indexCards" ng-click="showFav()" class="btn btn-secondary margin-md"><i class="material-icons align-middle" data-toggle="tooltip" data-placement="top" title="Show favorite words">star</i></button>

            <div class="collapse" id="branchList">
              <button class="btn btn-light" ng-click="chooseTopic()">
                Show all
              </button>
              <button ng-repeat="branch in branches | orderBy: 'bIndexNr'" class="btn btn-light" data-toggle="collapse" data-target="#branch{{branch.bIndexNr}}">
                {{branch.bIndexNr}}  {{branch.name}}
              </button>
              <div ng-repeat="branch in branches | orderBy: 'bIndexNr'" class="collapse" id="branch{{branch.bIndexNr}}">
                <div class="card" ng-repeat="topic in topics | filter:{parentBranch: branch._id} | orderBy: 'indexNr'">
                  <button class="btn btn-light text-muted" ng-click="chooseTopic(topic._id)">{{topic.indexNr}}  {{topic.name}}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-5 col-padding-none">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search" ng-model="searched">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" ng-click="searchWords()">Search</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 col-lg-10" ng-hide="indexCards" id="wordsList">
        <div class="row">
          <ul class="list-group list-group-flush col-12" id="wordsList">
            <li ng-repeat="word in words | filter: wordsFilter | orderBy:sortBy:reverse" class="list-group-item word-line">
              <div class="row">
                <div class="col-6 col-md-4 text-truncate">{{word.word}}</div>
                <div class="col-6 col-md-4 text-truncate text-right">{{word.explaination}}</div>
                <div class="col-12 col-md-4" id="wordsList">
                  <button class="btn btn-outline-warning btn-sm" ng-click="openEditWord(word)"><i class="material-icons align-middle">edit</i></button>
                  <button class="btn btn-outline-danger btn-sm" ng-hide="showDeleteWord==word._id" ng-click="openDeleteWord(word._id)"><i class="material-icons align-middle">delete</i></button>
                  <button class='btn btn-danger btn-sm' ng-show="showDeleteWord==word._id" ng-click='showDeleteWord=0'><i class="material-icons align-middle">undo</i></button>
                  <button class='btn btn-danger btn-sm' ng-show="showDeleteWord==word._id" ng-click='deleteWord(word._id)'><i class="material-icons align-middle">delete_forever</i></button>
                  <button class="btn btn-outline-info btn-sm" ng-click="openInfoWord(word)"><i class="material-icons align-middle">info</i></button>
                  <button class="right btn btn-outline-secondary btn-sm" ng-click="toggleFavorites(word)" ng-class="{'btn-outline-warning': word.isFav==true}"><i class="material-icons align-middle">star</i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-lg-8" ng-show="indexCards">
        <div class="row">
          <div class="col-12 col-lg-6 marginT2 indexCardScroll" ng-repeat="word in words | filter: wordsFilter | orderBy:sortBy:reverse" id=tCard{{word._id}}>
            <div class="card noBorder text-center" id="turnCard{{word._id}}" ng-style="C1">
              <div class="front" ng-style="C3">
                <div class="text-center indexCardSize">{{word.word}}</div>
              </div>
              <div class="back" ng-style="C4">
                <div class="text-center indexCardSize">{{word.explaination}}</div>
              </div>
            </div>
            <div class="right"><i class="material-icons fav" id="fav{{word._id}}" ng-click="toggleFavorites(word)" ng-class="{'fav-checked': word.isFav==true}">star</i></div>
            <div class="right favB" ng-class="{'invisible': word.isFav!=true}" id="favB{{word._id}}"><i class="material-icons favBI">star</i></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Word Info Modal -->
  <div class="modal fade" id="infoWordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>Word: {{infoWord.word}}</div>
          <div>Explaination: {{infoWord.explaination}}</div>
          <div>Related text: {{infoWord.text}}</div>
          <div>Added by: {{infoWord.createdBy}}</div>
          <div>At: {{infoWord.dateS}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Nice!</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Word Modal -->
  <div class="modal fade" id="editWordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit word</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control" type="text" placeholder="Word: {{editingWord.word}}" ng-model="editingWord.word">
          <input class="form-control marginT1" type="text" placeholder="Explaination: {{editingWord.explaination}}" ng-model="editingWord.explaination">
          <input class="form-control marginT1" type="text" placeholder="Related text: {{editingWord.text}}" ng-model="editingWord.text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="saveEditWord()" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-hide="currentGroup" class="marginT1">
  <div class="alert alert-warning" role="alert">
    Choose a group or make a new one to be able to use the dictionary
  </div>
</div>

<div class="artFillingBox2"></div>
