<div class="container">
  <div class="row marginT1">
    <div class="col-12 col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item">
          <h5>Groups you belong to</h5></li>
          <button type="button" class="btn btn-primary" id="buttonToAddGroup" data-toggle="modal" data-target="#addGroupModal">Add a group</button>
        <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="group in groups">
          {{group.name}}
          <span>
            <span ng-show="checkGrpIfAdmin(group)"><i class="material-icons">assistant_photo</i></span>
            <span ng-click="openGroup(group)"><i class="material-icons scale">more_horiz</i></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-8" ng-if="openedGroup && openedGroup.name">
      <div class="groupExpanded background1 rounded-corners1">
        <ul class="list-group">
          <li class="list-group-item"><h5>Group {{openedGroup.name}}</h5></li>
          <li class="list-group-item"><h6>Members:</h6><span class="row" ng-show="checkIfAdmin(id)">
          <input class="col-7" type="text" placeholder="Add to group" ng-model="userToAdd"/>
          <span class="col-4">
            <button class="btn btn-primary " ng-click="addUserToGroup(userToAdd)"><i class="material-icons align-bottom">add</i>Add</button>
          </span>
        </span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="user in openedGroup.users">{{user.username}} <span ng-hide="checkIfAdmin(user._id)||!checkIfAdmin(id)"><i class="material-icons" ng-click="addUserToAdmins(user)">assignment_ind</i><i class="material-icons" ng-click="removeUserFromGroup(user)">clear</i></span></li>
          <li class="list-group-item"><h6>Administrators:</h6></li>
          <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="admin in openedGroup.admins">{{admin.username}}<i class="material-icons" ng-show="checkIfAdmin(id)" ng-click="removeUserFromAdmins(admin)">clear</i></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Add Group Modal -->
<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGroupModalLabel">Add a group:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Name" ng-model="newGroup.name">
          <textarea class="form-control marginT1" type="text" placeholder="Description (optional)" ng-model="newGroup.description" rows="5"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addGroup()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="artFillingBox2"></div>
