<div ng-show="currentGroup">

  <button class="btn marginT1" data-toggle="modal" data-target="#addHomeworkModal"><i class="material-icons align-middle">note_add</i> Add homework</button>
  <div class="homeworkGrid row">
    <div ng-repeat="hw in homework" class="card marginT1 col-12 col-md-7">
      <div class="card-body">
        <button class="btn btn-danger btn-sm right" ng-click="deleteHomework(hw._id)"><i class="material-icons align-middle">delete_forever</i></button>
        <h5 class="card-title">{{hw.name}}</h5>
        <p class="card-text">{{hw.description}}</p>
        <p class="card-text">Termin: {{hw.deadline.substring(0,10)}}</p>
      </div>
    </div>
  </div>

  <!-- Add Homework Modal -->
  <div class="modal fade" id="addHomeworkModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add homework:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Name" ng-model="newName">
            <input class="form-control marginT1" type="date" placeholder="Deadline" ng-model="newDeadline">
            <textarea class="form-control marginT1" type="text" placeholder="Description" ng-model="newDescription" rows="5"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="addHomework()" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>


<div ng-hide="currentGroup" class="container-fluid marginT1">
  <div class="alert alert-warning" role="alert">
    Choose group or add a new one to be able to manage the homework
  </div>
</div>

<div class="artFillingBox2 d-block d-lg-none"></div>
