<h2 class="page-header marginT1" ng-hide="forgotPassword">Log in</h2>
<h2 class="page-header marginT1" ng-show="forgotPassword">Password reset</h2>

<form ng-submit="signIn()" ng-hide="forgotPassword">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="login">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
  <a class="btn btn-light" ng-click="forgotPassword=true">I forgot my password!</a>
</form>

<form ng-submit="resetPassword()" ng-show="forgotPassword">
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" placeholder="email" ng-model="email">
  </div>
  <button type="submit" class="btn btn-primary">Password reset</button>
  <a class="btn btn-light" ng-click="forgotPassword=false">Cancel</a>
</form>
