<h2 class="page-header marginT1">Register a new account</h2>

<form ng-submit="register()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username" ng-model="login">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email" ng-model="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password">
  </div>
  <div class="form-group">
    <label>Repeat password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2" ng-model="password2">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <div class="artFillingBox2 d-block d-lg-none"></div>
</form>
