<div ng-hide="chosenTopic">
  <div ng-show="currentGroup" class="row marginT1 background1 paddingB1 rounded-corners1">
    <div class="col-sm-5 col-md-4 col-lg-3">
        <nav id="topicsNavbar" class="navbar navbar-light flex-column mt-4 rounded-corners1 bg-white">
            <a class="navbar-brand">Topics</a>
            <div class="btn-group left">
              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">+</button>
              <div class="dropdown-menu">
                <button class="dropdown-item" data-toggle="modal" data-target="#addBranchModal">Add branch</button>
                <button class="dropdown-item" data-toggle="modal" data-target="#addTopicModal">Add topic</button>
              </div>
            </div>
            <nav class="nav nav-pills flex-column">
                <div class="" ng-repeat="branch in branches | orderBy: 'bIndexNr'">
                  <span ng-click="goToTopic(branch.htmlId)"><a class="nav-link test disabledLink" href='#{{branch.htmlId}}'><strong>{{branch.bIndexNr}}</strong> {{branch.name}}</a></span>
                  <nav class="nav nav-pills flex-column">
                    <span ng-repeat="topic in topics | filter:{parentBranch: branch._id} | orderBy: 'indexNr'" ng-click="goToTopic(topic.htmlId)">
                      <a class="nav-link ml-3 my-1 disabledLink rounded-corners1" ng-class="{'selected': topic._id == chosenTopic._id}" href="#{{topic.htmlId}}">
                        <strong>{{topic.htmlId[5]}}</strong>.<strong>{{topic.htmlId[7]}}</strong> <span ng-if="topic.name.length<20">{{topic.name}}</span>
                        <span id="ttp" ng-if="topic.name.length>20" ng-init="t=topic.name.slice(0,17)">
                          <span>{{t}}</span><span>...</span>
                        </span>
                      </a>
                    </span>
                  </nav>
                </div>
            </nav>
        </nav>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-9">
        <div ng-hide="branches[0]" class="">It seems there's nothing in this group yet. Add branch and start to learn!</div>
        <div ng-show="branches[0]" data-spy="scroll" class="topicsScrollspySection z-depth-1 mt-4 rounded-corners1" data-target="#navbar-example3" data-offset="0" ng-style="{height: hgt+ 'px'}">
          <div class="" ng-repeat="branch in branches | orderBy: 'bIndexNr'">
            <div class="row">
              <h4 class="col-12 col-md-6 col-lg-8" id={{branch.htmlId}}>{{branch.bIndexNr}} {{branch.name}}</h4>
              <div class="col-12 col-md-6 col-lg-4">
                <button type="button" name="button" class="btn btn-outline-warning btn-sm" ng-click="openEditBranch(branch)">Edit branch</button>
                <!-- <button type="button" name="button" class="btn btn-outline-danger btn-sm" ng-click="">Remove branch</button> -->
              </div>
              <p>{{branch.note}}</p>
            </div>
              <div class="row padding-md rounded-corners1" ng-repeat="topic in topics | filter:{parentBranch: branch._id} | orderBy: 'indexNr'" ng-class="{'selected': topic._id == chosenTopic._id}">
                  <h5 class="col-12 col-md-4 col-lg-7" id={{topic.htmlId}}>{{topic.indexNr}}  {{topic.name}}</h5>
                  <div class="col-12 col-md-8 col-lg-5">
                    <button type="button" name="button" class="btn btn-outline-primary btn-sm" ng-click="chooseTopic(topic)">Show words</button>
                    <button type="button" name="button" class="btn btn-outline-warning btn-sm" ng-click="openEditTopic(topic)">Edit</button>
                  </div>
                  <p>{{topic.note}}</p>
              </div>
            <hr/>
          </div>
          <div ng-show="branches[0]" class="artFillingBox"></div>
        </div>
    </div>
  </div>
</div>

<div class="row paddingT1 marginT1 rounded-corners2 background1" ng-show="chosenTopic">
  <div class="col-lg-12 padding-sm">
    <div class="row">
      <h5 class="col-12">{{chosenTopic.name}}</h5>
      <div class="col-12">
        <div class="row">
          <div class="d-flex">
            <button ng-click="backToTopicsMenu()" class="btn btn-secondary btn-sm margin-sm"><i class="material-icons align-middle">undo</i></button>
            <button class="btn btn-outline-info btn-sm margin-sm" id="alphaSortBtn" ng-click="sort('name')" data-toggle="tooltip" data-placement="top" title="Sort alphabetically"><i class="material-icons align-middle">sort_by_alpha</i><i class="material-icons align-middle" ng-show="sortBy === 'name'" ng-class="{reverse: reverse}"">arrow_drop_up</i></button>
            <button class="btn btn-outline-info btn-sm margin-sm" id="translateSortBtn" ng-click="sort('explaination')" data-toggle="tooltip" data-placement="top" title="Sort alphabetically by explainations"><i class="material-icons align-middle">translate</i><i class="material-icons align-middle" ng-show="sortBy === 'explaination'" ng-class="{reverse: reverse}"">arrow_drop_up</i></button>
            <button class="btn btn-primary btn-sm margin-sm" id="buttonToAddWord" data-toggle="tooltip" data-placement="top" title="Add word" ng-click="openAddWord()"><i class="material-icons align-middle">add_circle_outline</i></button>
          </div>
        </div>
      </div>

    </div>

    <ul class="list-group list-group-flush d-flex marginT1">
      <li ng-repeat="word in words | filter: {topic: chosenTopic._id} | orderBy:sortBy:reverse" class="list-group-item word-line rounded-corners2i">
        <div class="row">
          <div class="col-8 col-sm-9 col-md-4">
            {{word.word}}
          </div>
          <div class="col-4 col-sm-3 col-md-5">
            {{word.explaination}}
          </div>
          <div class="col-12 col-md-3 align-right">
            <button type="button" class="btn btn-outline-warning btn-sm" ng-click="openEditWord(word)"><i class="material-icons align-middle">edit</i></button>
            <button type="button" class="btn btn-outline-danger btn-sm" ng-hide="showDeleteWord==word._id" ng-click="openDeleteWord(word._id)"><i class="material-icons align-middle">delete</i></button>
            <button type='button' class='btn btn-danger btn-sm' ng-show="showDeleteWord==word._id" ng-click='showDeleteWord=0'><i class="material-icons align-middle">undo</i></button>
            <button type='button' class='btn btn-danger btn-sm' ng-show="showDeleteWord==word._id" ng-click='deleteWord(word._id)'><i class="material-icons align-middle">delete_forever</i></button>
            <button type="button" class="btn btn-outline-info btn-sm" ng-click="openInfoWord(word)"><i class="material-icons align-middle">info</i></button>
            <button class="right btn btn-outline-secondary btn-sm" ng-click="toggleFavorites(word)" ng-class="{'btn-outline-warning': word.isFav==true}"><i class="material-icons align-middle">star</i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div ng-hide="currentGroup" class="container-fluid marginT1">
  <div class="alert alert-warning" role="alert">
    Choose group or add a new one to be able to manage the topics and add words
  </div>
</div>

<!-- Word Info Modal -->
<div class="modal fade" id="infoWordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Word: {{infoWord.word}}</div>
        <div>Explaination: {{infoWord.explaination}}</div>
        <div>Related text: {{infoWord.text}}</div>
        <div>Added by: {{infoWord.createdBy}}</div>
        <div>At: {{infoWord.dateS}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Nice!</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Word Modal -->
<div class="modal fade" id="addWordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add word to topic "{{chosenTopic.name}}"</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="special-signs row">
          <button ng-click="addSpecialSign('ä')" class="btn btn-small btn-secondary col-3 col-sm-1">ä</button>
          <button ng-click="addSpecialSign('ö')" class="btn btn-small btn-secondary col-3 col-sm-1">ö</button>
          <button ng-click="addSpecialSign('ü')" class="btn btn-small btn-secondary col-3 col-sm-1">ü</button>
          <button ng-click="addSpecialSign('ß')" class="btn btn-small btn-secondary col-3 col-sm-1">ß</button>
          <button ng-click="addSpecialSign('Ä')" class="btn btn-small btn-secondary col-3 col-sm-1">Ä</button>
          <button ng-click="addSpecialSign('Ö')" class="btn btn-small btn-secondary col-3 col-sm-1">Ö</button>
          <button ng-click="addSpecialSign('Ü')" class="btn btn-small btn-secondary col-3 col-sm-1">Ü</button>
          <button ng-click="addSpecialSign('ẞ')" class="btn btn-small btn-secondary col-3 col-sm-1">ẞ</button>
        </div>
        <input id="newWordWord" class="form-control marginT1" type="text" placeholder="Word" ng-model="newWord.word">
        <input class="form-control marginT1" type="text" placeholder="Explaination" ng-model="newWord.explaination">
        <input class="form-control marginT1" type="text" placeholder="Optional: Related text" ng-model="newWord.text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addWord()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Word Modal -->
<div class="modal fade" id="editWordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit word</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" type="text" placeholder="Word: {{editingWord.word}}" ng-model="editingWord.word">
        <input class="form-control marginT1" type="text" placeholder="Explaination: {{editingWord.explaination}}" ng-model="editingWord.explaination">
        <input class="form-control marginT1" type="text" placeholder="Related text: {{editingWord.text}}" ng-model="editingWord.text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveEditWord()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Topic Modal -->
<div class="modal fade" id="editTopicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" type="text" placeholder="Name: {{editingTopic.name}}" ng-model="editingTopic.name">
        <input class="form-control marginT1" type="text" placeholder="Description (optional): {{editingTopic.note}}" ng-model="editingTopic.note">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveEditTopic()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Branch Modal -->
<div class="modal fade" id="editBranchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" type="text" placeholder="Name: {{editingBranch.name}}" ng-model="editingBranch.name">
        <input class="form-control marginT1" type="text" placeholder="Description (optional): {{editingBranch.note}}" ng-model="editingBranch.note">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveEditBranch()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Topic Modal -->
<div class="modal fade" id="addTopicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add topic:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Name" ng-model="newTopic.name">
          <select class="form-control marginT1" ng-model="newTopic.parentBranch">
            <option value="" disabled selected class="text-muted">Choose branch:</option>
            <option value="{{branch._id}}" placeholder="Branch" ng-repeat="branch in branches | orderBy: 'bIndexNr'">{{branch.name}}</option>
          </select>
          <input class="form-control marginT1" type="number" placeholder="Number" ng-model="newTopic.htmlIdInt">
          <textarea class="form-control marginT1" type="text" placeholder="Description (optional)" ng-model="newTopic.note" rows="5"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addTopic()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Branch Modal -->
<div class="modal fade" id="addBranchModal" tabindex="-1" role="dialog" aria-labelledby="addBranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBranchModalLabel">Add branch:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Name" ng-model="newBranch.name">
          <input class="form-control marginT1" type="number" placeholder="Number" ng-model="newBranch.bIndexNr">
          <textarea class="form-control marginT1" type="text" placeholder="Description (optional)" ng-model="newBranch.note" rows="5"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addBranch()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="artFillingBox2"></div>
