<div class="container">
  <h4 class="marginT2">Welcome, {{username}}!</h4>
  <div ng-show="counter>0" class="marginB1 marginT2">That's a short review of latest events:</div>
  <div ng-hide="counter>0" class="marginB1 marginT2">It seems there's no notifications for You</div>

  <div>
    <div ng-repeat="notification in notifications" ng-if="notification.type!='w'" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span>User {{notification.createdBy}}</span>
      <span ng-if="notification.type=='t'">added a topic in group {{notification.payload}}</span>
      <span ng-if="notification.type=='b'">added a branch in group {{notification.payload}}</span>
      <span ng-if="notification.type=='g'">added You to group {{notification.payload}}</span>
      <span ng-if="notification.type=='a'">made You an admin of group {{notification.payload}}</span>
      <span ng-if="notification.type=='au'">deleted You from admins of group {{notification.payload}}</span>
      <span ng-if="notification.type=='gu'">deleted You from members of group {{notification.payload}}</span>
      <button ng-click="dismissNotification(notification._id)" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div ng-repeat="grp in wordsNotifications" class="alert alert-primary alert-dismissible fade show" role="alert">
    New words in group {{grp[0].payload}} <span class="badge badge-secondary align-top">{{grp.counter}}</span>
    <button ng-click="dismissWordsNotifications(grp[0].payload)" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <hr>

  <div class="homeworkGrid row" ng-show="currentGroup&&homework">
    <div class="card col-12 col-md-6" ng-click="goToHw()">
      <div class="card-body">
        <h5 class="card-title">{{homework.name}}</h5>
        <p class="card-text">{{homework.description}}</p>
        <p class="card-text">Termin: {{homework.deadline.substring(0,10)}}</p>
      </div>
    </div>
  </div>

  <div ng-hide="currentGroup" class="marginT1 marginB1" role="alert">
    Choose group or add a new one to see Your last homework
  </div>

  <div ng-hide="!currentGroup||homework" class="marginT1 marginB1" role="alert" ng-click="goToHw()">
    You have no homework to do in group <b>{{currentGroup.name}}</b>!
  </div>

  <hr>


  <div class="btn btn-danger" ng-click="logOut()"><i class="material-icons align-mid">power_settings_new</i></div>

  <div class="btn btn-secondary" ng-click="colors()"><i class="material-icons align-mid">color_lens</i></div>

  <div class="btn btn-secondary" ng-click="pass()"><i class="material-icons align-mid">lock</i></div>

  <div class="settingsDropdown" id="colors">
    <form class="row">
      <div class="form-group col-12 col-md-3 col-lg-2">
        <label for="color1">Background color</label>
        <input type="color" class="form-control" id="color1" ng-model="color1">
      </div>
      <div class="form-group col-12 col-md-3 col-lg-2">
        <label for="color2">Secondary color</label>
        <input type="color" class="form-control" id="color2" ng-model="color2">
      </div>
      <div class="form-group col-12 col-md-3 col-lg-2">
        <label for="color3">3rd color</label>
        <input type="color" class="form-control" id="color3" ng-model="color3">
        <small id="color3Help" class="form-text text-muted">The front of index cards</small>
      </div>
      <div class="form-group col-12 col-md-3 col-lg-2">
        <label for="color4">4th color</label>
        <input type="color" class="form-control" id="color4" ng-model="color4">
        <small id="color4Help" class="form-text text-muted">The back of index cards</small>
      </div>
      <div class="col-0 col-lg-4"></div>
      <button type="submit" class="btn btn-primary" ng-click="updateColorSettings()">Save</button>
    </form>
  </div>

  <div class="settingsDropdown" id="pass">
    <div class="form-group">
      <input type="password" class="form-control bg-white" placeholder="Old password" name="password" ng-model="password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control bg-white" placeholder="New password" name="passwordNew" ng-model="passwordNew">
    </div>
    <div class="form-group">
      <input type="password" class="form-control bg-white" placeholder="Repeat new password" name="passwordNew2" ng-model="passwordNew2">
    </div>
    <button class="btn btn-primary" ng-click="changePassword()">Save</button>
  </div>

</div>

<div class="artFillingBox2"></div>
