<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="styles/style.css" rel="stylesheet">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Logo -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">

    <title>Password reset</title>
  </head>

  <body ng-app="YouLang" ng-controller="MainCtrl">

    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">
        <a class="navbar-brand"><img src="images/youlang.png" width="100%" alt="YouLang"></a>
      </nav>
    </header>

    <main class="container">
      <div class="toast-success alert alert-success toast marginT1" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="toast-danger alert alert-danger toast marginT1" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <h2>Password reset</h2>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password">
        </div>
        <div class="form-group">
          <label>Repeat password</label>
          <input type="password" class="form-control" placeholder="Repeat password" name="password2" ng-model="password2">
        </div>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </main>

    <div id="footer"></div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="scripts/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <script>
      $(function(){
        $("#footer").load("footer-en.html");
      });
    </script>
    <!-- Angular and app.js -->
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/app-reset.js"></script>
  </body>
</html>
