<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="styles/style.css" rel="stylesheet">

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Logo -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">

    <title>Welcome in YouLang!</title>
  </head>

  <body ng-app="YouLang" ng-controller="MainCtrl">

    <header class="d-none d-lg-block">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">
        <a class="navbar-brand" href="/#/"><img src="images/youlang.png" width="100%" alt="YouLang"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav" ng-hide="username">
            <li class="nav-item" ng-class="{'actual': currentState=='home'}">
              <a class="nav-link" href="#/">Start</a>
            </li>
            <li class="nav-item" ng-class="{'actual': currentState=='login'}">
              <a class="nav-link" href="#/login">Log in</a>
            </li>
            <li class="nav-item" ng-class="{'actual': currentState=='register'}">
              <a class="nav-link" href="#/register">Sign up</a>
            </li>
          </ul>
          <ul class="navbar-nav" ng-show="username">
            <li class="nav-item" ng-class="{'actual': currentState=='user'}">
              <a class="nav-link" href="#/user">Start</a>
            </li>
            <li class="nav-item" ng-class="{'actual': currentState=='topic'}">
              <a class="nav-link" href="#/topics">Topics</a>
            </li>
            <li class="nav-item" ng-class="{'actual': currentState=='dict'}">
              <a class="nav-link" href="#/dictionary">Dictionary</a>
            </li>
            <li class="nav-item" ng-class="{'actual': currentState=='homework'}">
              <a class="nav-link" href="#/homework">Homework</a>
            </li>
            <li class="nav-item dropdown" ng-class="{'actual': currentState=='grps'}">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Groups
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <button class="dropdown-item" ng-repeat="group in groups" ng-click="chooseGroup(group)" ng-class="{'text-primary':group._id == currentGroup._id}">{{group.name}}</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#/groups">Manage groups</a>
              </div>
            </li>
            <li class="nav-item dropdown right-lg">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{username}}
              </a>
              <div class="dropdown-menu dropdown-menu-right row justify-content-between align-items-center" aria-labelledby="navbarDropdownUserLink">
                <!-- <a class="dropdown-item" href="#/settings"><i class="material-icons align-mid">settings</i> Ustawienia</a> -->
                <a class="dropdown-item" ng-click="logOut()"><i class="material-icons align-mid">power_settings_new</i> Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">

      <div class="toast-success alert alert-success toast marginT1" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="toast-danger alert alert-danger toast marginT1" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div>
        <ui-view></ui-view>
      </div>
    </main>

    <div id="footer"></div>

    <footer ng-show="username" class="footer position-fixed d-lg-none" ng-style="C2">
      <div class="row margin-sm">
        <div class="col-3 d-flex justify-content-center"><a href="#/user"><i class="material-icons navIcon" ng-class="{'actualI': currentState=='user'}">home</i></a></div>
        <div class="col-3 d-flex justify-content-center"><a href="#/topics"><i class="material-icons navIcon" ng-class="{'actualI': currentState=='topic'}">book</i></a></div>
        <div class="col-3 d-flex justify-content-center"><a href="#/dictionary"><i class="material-icons navIcon" ng-class="{'actualI': currentState=='dict'}">school</i></a></div>
        <div class="col-3 dropup d-flex justify-content-center">
          <a id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false"><i class="material-icons navIcon" ng-class="{'actualI': currentState=='grps'}">people</i></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <button class="dropdown-item" ng-repeat="group in groups" ng-click="chooseGroup(group)" ng-class="{'text-primary':group._id == currentGroup._id}">{{group.name}}</button>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#/groups">Manage groups</a>
          </div>
        </div>
      </div>
    </footer>

    <footer ng-hide="username" class="footer position-fixed d-lg-none" ng-style="C2">
      <div class="row margin-sm">
        <div class="col-4 d-flex justify-content-center"><a href="#/"><i class="material-icons navIcon" ng-class="{'actualI': currentState=='home'}">home</i></a></div>
        <div class="col-4 d-flex justify-content-center"><a href="#/login"><i class="material-icons navIcon" ng-class="{'actualI': currentState=='login'}">person</i></a></div>
        <div class="col-4 d-flex justify-content-center"><a href="#/register"><i class="material-icons navIcon" ng-class="{'actualI': currentState=='register'}">person_add</i></a></div>
      </div>
    </footer>

    <!-- jQuery, easing & scrollify, flip, Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/easing.js"></script>
    <script type="text/javascript" src="scripts/jquery.scrollify.js"></script>
    <script type="text/javascript" src="scripts/jquery-flip.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <script>
      $(function(){
        $("#footer").load("components/footer-en.html");
      });
    </script>
    <!-- Angular and app.js -->
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/angular-ui-router.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
  </body>
</html>
