<footer class="footer text-muted">
  <div class="container d-none d-lg-block">
    <div class="row">
      <div class="col-6">
        You have an idea how to improve this app? Or maybe you have noticed a bug? Contact me at: <a href="mailto:mikolaj@cankudis.net">mikolaj@cankudis.net</a>
      </div>
      <div class="col-6 text-right">
        <a class="grey-text text-lighten-4 right" href="http://mikolaj.cankudis.net">Created by: Mikołaj Cankudis</a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-12">
          © 2018 Mikołaj Cankudis
        </div>
      </div>
    </div>
  </div>
</footer>
